/CMakeCache.txt
/src/grid/Makefile
/callgrind.*
/dump.asm
/compile_commands.json
/Makefile
/CMakeFiles/
/.cmake/
/.cache/
/src/cmake_install.cmake
/src/Makefile
/src/grid/cmake_install.cmake
/src/grid/libgrid.a
/src/mpi
/src/mpi_profiling
/vgcore.98142
/profile.txt
/gmon.out
/dum.txt
/cmake_install.cmake
/cachegrind.out.159334
/src/CMakeFiles/
/src/grid/CMakeFiles/
